@charset "UTF-8";

/* html { font-size: 20px;} */

body {
	background-color: #dedede;
	color: #333333;
	font-family: 'Maven Pro', sans-serif;
	}


#sec01 { font-size: 16px; }
/* p {	font-size: 16px; } */
.fs01 { font-size: 16px; }
.fs02 { font-size: 12px; }
.fs03 { font-size: 20px; }
.fs04 { font-size: 1em; }
.fs05 { font-size: 0.5em; }
.fs06 { font-size: 1.5em; }
.fs07 { font-size: 1rem; }
.fs08 { font-size: 0.75rem; }



/* font-weight 글자 두께 */
.fw01 { font-weight: 100; }
.fw02 { font-weight: 200; }
.fw03 { font-weight: 300; }
.fw04 { font-weight: 400; }
.fw05 { font-weight: 500; }
.fw06 { font-weight: 600; }
.fw07 { font-weight: 700; }
.fw08 { font-weight: 800; }
.fw09 { font-weight: 900; }
.fw-b { font-weight: bold; }
.fw-n { font-weight: normal; }



/* font-style 글자 기울기 */
.fst01 { font-style: italic; }
.fst02 { font-style: oblique; }

#sec03>i, #sec03>em {color: #777 }
/* 그룹선택자 A, B,C, ... 는
A, B, C 등을 동시에  
불러와서 같은 스타일을 적용함  */


#sec03>i:hover {
/* 상태 선택자 A:hover는
A에 마우스 오버한 상태일 때를 지정 */
	font-style: normal;
}



#sec03>em:hover {
	font-style:normal;
}


/* font-family 글꼴 (서체) */
/* 여러개 후보를 두고, 해당하는 글꼴로 보여준다,
없으면 sans-serif */
.ffm01 {
	font-family: "Helvatica", "Verdana", sans-serif;
}

.ffm02 {
	font-family: "Garamond", "Times New Roman", "Georgia", serif; 
}

.ffm03 {
	font-family: "Lucida Console", "Arial", Fantasy;
}



/* fonts.google.com
font-family: 'Anton', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Zen Dots', cursive;
 */


.ffm04 {
	font-family: 'Anton', sans-serif;
	font-size: 25px;
}

.ffm05 {
	font-family: 'Zen Dots', cursive;
	font-size: 20px;
}
.ffm05>span {
	font-family: 'Maven Pro', sans-serif;
}

.ffm06>span{
	font-family: 'Permanent Marker', cursive;
}





















