@charset "UTF-8";
.clear {clear:both;}

table { border : 1px solid #00f;}
th,td {border:1px solid #0a0; }

/*  */
#table1, 
#table2 {width: 800px; height:600px;float:left; margin-left:4em;}
caption {font-size : 1.5em; font-weight:bold; color:#007; text-align:right; padding:0.3em 0.5em;}
caption>i {
	font-size:0.8em;
	font-style:normal;
}
#table1 {table-layout:auto;}
#table2 {table-layout:fixed;}

/* */
#table3, #table4 {
	width:600; height: 600px;
	float:left;
	margin:4em 2em;
}

#table3 {
	border-spacing: 5px 10px;
}

#table4 {
	border-collapse: collapse;
}

#table5 {
	width:600px; height:700px;
}

#table5 th{
	color:#fff;
	background-color: #0ac;
	height : 50px;
}

#table5 tr:nth-of-type(2n-1) {
	/* 특정 행에 대한 속성 (수식도 가능) */
	background-color: #ccc;
}

#table5 tr>td:nth-of-type(3){
	/* 한줄 안에서 3번째 셀을 지정 */
	text-align:center;
	color:#900;
}


#table6 {
	table-layout:fixed;
	border-collapse: collapse;
}

#table6 th {
	background-color:#336;
	color:#fff;
}

#table6 tr:nth-of-type(2n){
	background-color:#99d;
}


#table6 tr:nth-of-type(2n-1){
	background-color: #77b;
}

#table6 tr:hover {
	background-color:#55a;
	color:#fff;
	cursor:pointer;
}

#table6 tr:nth-of-type(4) td {
	/* 말줄임표 삼총사 */
	white-space: nowrap;  /* 공백처리- 자동줄바꿈 금지 */
	overflow:hidden;	  /* 영역밖 컨텐츠처리 -숨김 */
	text-overflow:ellipsis; /* 영역밖 글자-말줄임표(...) 표시 */
}



#table7 {
	width:600px;
	height:400px;
}

#table7 tr:nth-of-type(2)>td:nth-of-type(1) {
	vertical-align:top;
}

#table7 tr:nth-of-type(2)>td:nth-of-type(3) {
	vertical-align:bottom;
}